<%= form_for(@mytest) do |f| %>
  <% if @mytest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mytest.errors.count, "error") %> prohibited this mytest from being saved:</h2>

      <ul>
      <% @mytest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
