<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mytest.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @mytest.body %>
</p>

<%= link_to 'Edit', edit_mytest_path(@mytest) %> |
<%= link_to 'Back', mytests_path %>
